<!doctype html>
<html lang="en">

<head>
    <title>Banco</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/login.css">
    <meta name="Author" content=" Carolinna, Elis, Mateus, Ricardo, Tálison">
    <!-- Bootstrap CSS -->
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/584/584011.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="index.html"> <img class="navlogo" src="https://cdn-icons-png.flaticon.com/512/4812/4812375.png"
                    alt="Logo"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Para você</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Para sua empresa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Investimentos</a>
                    </li>
                </ul>
                <ul class="headericons">
                    <li class="my-2 my-sm-0">
                        <a class="btn btn-group-md btn-warning" href="/cadastro">Seja um SoulBanker</a>
                        <a class="btn btn-group-md btn-dark" href="/login">Entrar</a>
            </div>
        </nav>
    </header>